.wrapper {
  margin: 20px 0;
  max-width: 410px;
  max-height: 310px;
  overflow-x: scroll;
  overflow-y: hidden;

  .body {
    .table {
      table {
        thead {
          tr {
            border-color: transparent;
            th {
              background-color: #f4f4f4;
              padding: 10px 24px;
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: center;
              margin: 5px 0;
            }
          }
        }
      }
      .avatar {
        width: 38px;
        border-radius: 50%;
      }
      .name {
      }
    }
  }
}
